-content_for :title do
  Overview |

.grid_12
  .listing{ :class => 'listing' }=link_to image_tag('latesttracks.png'), tracks_path
  =render :partial => 'tracks/tracklist'
.grid_12
  #artists{ :class => 'listing' }= link_to image_tag('artists.png'), artists_path
  =render :partial => 'artists/artistlist'

.grid_12
  #weblog{ :class => 'listing' }= link_to image_tag('weblog.png'), weblogs_path
  =render :partial => 'weblogs/webloglist'

.grid_12
  #statistics{:class => 'alpha'}
    ="<span>#{@stats[1]}</span> tracks listened for a total of <span>#{@stats[0]}</span> seconds or <span>#{@stats[0] / 60}</span> minutes or <span>#{@stats[0] / 3600}</span> hours"
