<% title('Home') -%>

<div class="grid_12">
  <div class="listing">
    <%= link_to image_tag('latesttracks.png'), tracks_path %>
    <%= render :partial => 'tracks/tracklist' %>
  </div>
  <div class="listing">
    <%= link_to image_tag('artists.png'), artists_path %>
    <%= render :partial => 'artists/artistlist' %>
  </div>
</div>

<div class="grid_12">
  <div id="statistics" class="alpha">
    <span><%= @stats["total_plays"] %></span> tracks listened for a total of <span><%= @stats["total_seconds"] %></span>
    seconds or <span><%= @stats["total_seconds"] / 60 %></span> minutes or <span><%= (@stats["total_seconds"].to_f / 3600).round_with_precision(2) %></span> hours
  </div>
</div>
