<% if @tracks.any? -%>
  <ul class="tracklist">
    <% @tracks.each_with_index do |t, i| -%>
      <li id="track-<%= i %>", class="<%= cycle('track even', 'track odd') %>">
        <h2><%= link_to t.name, track_path(t), :id => i, :class => "regular track_url" %></h2>
        <%= link_to "play", track_download_path(t), :class => 'play' %>
        <%= t.name %>
      </li>
    <% end -%>
  </ul>
<% else -%>
  <p>No other tracks yet</p>
<% end -%>
