<% if @tracks.any? -%>
  <ul class="tracklist">
    <% @tracks.each_with_index do |t, i| -%>
      <li id="track-<%= i %>", class="<%= cycle('track even', 'track odd') %>">
        <h2><%= link_to t.name, track_path(t), :id => i, :class => "regular noplay" %></h2>
        <%= link_to "play", track_download_path(t), :class => 'play' %>
        <%= t.name %>
        <span class="track_meta">
          <%= link_to image_tag("info.png", :width => 16), t, :class => 'noplay' %>
          <% if t.artistlink && t.buylink -%>
            <%= link_to image_tag("home.png", :width => 16), t.artistlink, :class => 'noplay' %>
            <%= link_to image_tag("headphone.png", :width => 16), t.buylink, :class => 'noplay' %>
          <% end -%>
        </span>
      </li>
    <% end -%>
  </ul>
<% else -%>
  <p>No other tracks yet</p>
<% end -%>
