<% content_for :title do %><%= @track.name %> |<% end %>

<div class="grid_5">
  <div class="listing"><h1><%= @track.name %></h1></div>
  <p class="description"><%= @track.description %></p>
  <a class="play" href="<%= @track.mp3.url %>">play</a>
</div>

<div class="grid_5 prefix_1">
  
  <div class="listing"><h1>Other tracks by <%= @artist.name %></h1></div>
  <%= render :partial => 'tracks/tracklist' %>
  
</div>
