-title("#{@track.name}")

.grid_5
  %h1= @track.name
  %p.description= @track.description
  %a.play{ :href => track_download_path(@track)} play

.grid_5{ :class => 'prefix_1' }
  .listing
    %h1= "Other tracks by #{@artist.name}"
    =render :partial => 'tracks/tracklist'
