<% title @track.name -%>

<% content_for :head do %>
  <meta property="og:title" content="<%= @track.name %>">
  <meta property="og:type" content="song">
  <meta property="og:url" content="http://denachtdienst.org/tracks/<%= @track.to_param %>">
<% end -%>

<div class="grid_5">
  <h1><%= @track.name %></h1>
  <% if @track.description? -%>
    <p class="description"><%= @track.description %></p>
  <% end -%>
  <%= link_to "play", track_download_path(@track), :id => 'play', :class => 'awesome large' %>
  <%= render :partial => 'facebook' %>
</div>

<div class="grid_5 prefix_1">
  <h1>Other tracks</h1>
  <div class="listing">
    <%= render :partial => 'tracks/tracklist' %>
  </div>
</div>
