<% title @track.name -%>

<% content_for :head do %>
  <meta property="fb:app_id" content="348368895558"/>
  <meta property="og:title" content="<%= @track.name %>">
  <meta property="og:site_name" content="de Nachtdienst">
  <meta property="og:image" content="http://assets.denachtdienst.org/images/nachtdienst.jpg">
  <meta property="og:type" content="song">
<% end -%>

<div class="grid_5">
  <h1><%= @track.name %></h1>
  <% if @track.description? -%>
    <p class="description"><%= @track.description %></p>
  <% end -%>
  <%= link_to "Play", download_track_path(@track), :class => 'play awesome large' %>
  <%= render 'facebook' %>
</div>

<div class="grid_5 prefix_1">
  <h1>Other tracks</h1>
  <div class="listing">
    <%= render @tracks %>
  </div>
</div>
