<div id="content" class="grid_12">
  
  <h1>Nieuwe artiest</h1>
  
  <% form_for([:admin, @artist]) do |f| %>

    <ul>
      <%= f.error_messages %>
      <li><%= f.label :name %>
      <%= f.text_field :name, :class => "text", :size => "30" %></li>
      <li><%= f.label :bio %>
      <%= f.text_area :bio, :class => "text", :cols => "40", :rows => "15" %></li>
      <li><%= f.submit "Login" %></li>
    </ul>
  <% end %>
  
</div>
