<%- title("Tracks") %>

<h1>Tracks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Statistics</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <%- @tracks.each do |t| -%>
    <%= content_tag :tr, :id => "track_#{t.id}", :class => cycle('odd', 'even') do %>
      <td><%= link_to t.name, track_path(t) %></td>
      <td><%= t.statistics_count %> plays in <%= time_since(t.created_at) %> days</td>
      <td><%= link_to "Edit", edit_admin_track_path(t) %></td>
      <td><%= link_to "Delete", admin_track_path(t.id), :confirm => 'Are you sure?', :method => :delete %></td>
    <% end -%>
  <% end %>
</table>
