<%- title("New track") %>

<div id="main" class="grid_12">

  <h1>Nieuwe track</h1>

  <% form_for([:admin, @track], :html => { :multipart => true }) do |f| %>

    <%= f.hidden_field :section, :value => 1 %>
    <ul>
      <%= f.error_messages %>
      <li><%= f.label :section %>
      <%= select("track", "section", [["regular", 1], ["required listening", 2]]) %></li>
      <li><%= f.label :artist %>
      <%= select("track", "artist_id", @artist.collect {|a| [ a.name, a.id ] }, { :include_blank => true })
       %></li>
      <li><%= f.label :mp3 %>
      <%= f.file_field :mp3 %></li>
      <li><%= f.label :name %>
      <%= f.text_field :name, :class => "text", :size => "30" %></li>
      <li><%= f.submit "Submit" %></li>
    </ul>
  <% end %>

</div>
