<%- title("Edit post") %>

<h1>Edit post</h1>

<% form_for([:admin, @weblog]) do |f| %>

  <ul>
    <%= f.error_messages %>
    <li><%= f.label :title %>
      <%= f.text_field :title, :class => "text", :size => "30" %></li>
    <li><%= f.label :content %>
      <%= f.text_area :content, :class => "text", :cols => "40", :rows => "15" %></li>
    <li><%= f.submit "Submit" %></li>
  </ul>
<% end %>
