<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
    <title><%= yield(:title) %> on deNachtdienst</title>
    <%= include_stylesheets :admin, :media => 'all' %>
    <%= include_javascripts :admin %>
    <%= yield(:head) %>
    <link rel='shortcut icon' href="/favicon.ico"/>
    <%= csrf_meta_tag %>
</head>
<body>
  <%= render 'layouts/analytics' %>

  <div class="header">
    <ul class='nav'>
      <li <%= class_if_current('admin') %>><%= link_to 'Home', admin_root_path %></li>
      <li <%= class_if_current('admin/tracks') %>><%= link_to 'Tracks', admin_tracks_path %></li>
      <li <%= class_if_current('admin/artists') %>><%= link_to 'Artists', admin_artists_path %></li>
      <li <%= class_if_current('admin/articles') %>><%= link_to 'Articles', admin_articles_path %></li>
    </ul>
  </div>

  <% if @subtab %>
    <ul class='subnav'>
      <li><a href="/<%= params[:controller] %>/new">New</a></li>
    </ul>
  <% end %>

<div id="main">

  <div id="flash_container" class="grid_12">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end -%>
  </div>

  <%= yield %>

</div>

<div id="footer">
  <p>deNachtdienst.org 2010</p>
</div>

</body>
</html>


