<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title)) %> on DND</title>
    <%= include_stylesheets :mobile %>
    <%= include_javascripts :mobile %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render :partial => 'layouts/analytics' %>

    <div class="current">
      <div class="toolbar">
        <%= link_to "Back", nil, :class => "back" unless current_page? root_path %>
        <h1><%=h yield(:title) %></h1>
      </div>
      <%= yield %>
    </div>

  </body>
</html>

