<html>
  <head>
      <title><%= yield(:title) %> DND</title>
      <%= stylesheet_link_tag 'reset' %>      
      <%= stylesheet_link_tag '960' %>
      <%= stylesheet_link_tag 'screen' %>
      <%= javascript_include_tag 'jquery-1.3.2.min' %>
      <%= javascript_include_tag 'jquery.jplayer' %>
      <%= yield(:head) %>
  </head>
  <body>
    
    <div id="wrap">
    
      <div id="header">
      
        <div class="container_12">
        
          <div id="logo" class="grid_12">
            <%= link_to image_tag('logo.png'), root_path %>

            <% if current_user %>
              <%= link_to "Logout", logout_path, :method => :delete %>
            <% else %>
              <%= link_to "Login", login_path %>
            <% end %>  
          </div>
        
        </div>
      
      </div>
    
      <div id="wrapper" class="container_12">

        <div id="flash_container" class="grid_12">
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
          <script type="text/javascript">
          $(function(){
        
            setTimeout(function() {
              $("#flash_notice").slideUp();
            }, 2000);
        
        
          });
          </script>
        </div>

      <%= yield %>
      </div>
    
    </div>
    
    <div id="footer">
      <div class="container_12">
        <div class="grid_6">
          <p>deNachtdienst.org, staying fresh in 2009.</p>
          <p>Ben je dope en wil je ook je muziek online zetten? <a href="#">Get in touch.</a></p>
        </div>
        <div id="login" class="grid_4">
          <a href="/login"><img src="/images/login.png"></a>
        </div>
      </div>
    </div>
    
    
    
    <style type="text/css" media="screen">
      #player_playlist_message, #player_controls, #player_progress, #play_time{
        float: left;
        color: white;
      }
    </style>
        
    <div id="player">
      <!-- <h3>Dit is de player</h3> -->
      
      <div id="player_container">

  			<div id="player_playlist_message">
            <div id="song_title"></div>
  			</div>

  			<ul id="player_controls">
  				<p id="player_play">play</p>
  				<li id="player_pause">pause</li>

  			</ul>
        
        <div id="play_time"></div>
  			
  			<div id="player_progress">
  				<div id="player_progress_load_bar">
  					<div id="player_progress_play_bar"></div>
  				</div>
  			</div>


  		</div>
      
      
    </div>
		

    <script type="text/javascript">
    $(function(){

      $("a.play").click(function(event) {
        event.preventDefault();
        $("#player").slideDown();
        var track = $(this).prev().prev().html();
        $("#player h3").html(track);

      })
  
    });
    </script>
    
    
		<script>

		$(document).ready(function(){

			$("#player").jPlayer({
				ready: function () {
                    $(this).setFile("assault.mp3").play();
                    $("#song_title").html("DJ Assault - Ass and Titties");
				},
				height: 100,
				volume: 50,
				oggSupport: false
			})
			.jPlayerId("play", "player_play")
			.jPlayerId("pause", "player_pause")
			.jPlayerId("stop", "player_stop")
			.jPlayerId("loadBar", "player_progress_load_bar")
			.jPlayerId("playBar", "player_progress_play_bar")
			.onProgressChange( function(loadPercent, playedPercentRelative, playedPercentAbsolute, playedTime, totalTime) {
				var myPlayedTime = new Date(playedTime);
				var ptMin = (myPlayedTime.getUTCMinutes() < 10) ? "0" + myPlayedTime.getUTCMinutes() : myPlayedTime.getUTCMinutes();
				var ptSec = (myPlayedTime.getUTCSeconds() < 10) ? "0" + myPlayedTime.getUTCSeconds() : myPlayedTime.getUTCSeconds();
				$("#play_time").text(ptMin+":"+ptSec);

			})
			.onSoundComplete( function() {
				$(this).play();
			});
		});

		</script>
		
		<style>

		#player_progress {
		    line-height: 32px;
		    float: left;
			background-color: #eee;
			width:122px;
			margin-left: 20px;
			margin-top: 10px;
            height:12px;
		}
		#player_progress_load_bar {
			background: url("/images/bar_load.gif")  top left repeat-x;
			width:0px;
			height:15px;
			cursor: pointer;
		}
		#player_progress_load_bar.buffer {
			background: url("/images/bar_buffer.gif")  top left repeat-x;
		}
		#player_progress_play_bar {
			background: url("/images/bar_play.gif") top left repeat-x ;
			width:0px;
			height:15px;
		}


		</style>
		




  </body>
</html>
