<html>
  <head>
      <title><%= yield(:title) %></title>
      <%= stylesheet_link_tag 'reset' %>
      <%= stylesheet_link_tag 'login' %>
      <%= yield(:head) %>
      
      <style type="text/css" media="screen">
        body{
          background: #000;
        }
      </style>
      
  </head>
  <body>

    <%= yield %>

  </body>
</html>
